<ion-menu side="start" menuId="first" contentId="main">
    <ion-list>
        <ion-item button [routerLink]="['/register']">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>
                Registro de Usuarios
            </ion-label>
        </ion-item>
        <ion-item button [routerLink]="['/users']">
            <ion-icon name="people-circle-outline"></ion-icon>
            <ion-label>
                Consulta de Usuarios
            </ion-label>
        </ion-item>
    </ion-list>
</ion-menu>